.content {
	display: flex;
	flex-direction: column;
	gap: var(--wpds-dimension-gap-md);
	color: var(--wpds-color-fg-content-neutral);
	font-size: var(--wpds-typography-font-size-sm);
	line-height: var(--wpds-typography-line-height-sm);
}

.content p {
	margin: 0;
}
