<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  backupGlobals="false"
  backupStaticProperties="false"
  bootstrap="vendor/autoload.php"
  cacheDirectory=".phpunit.cache"
  colors="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="Full Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
