.root {
	--sidebar-create-leading-offset: calc(
		var(--wpds-dimension-padding-lg) - var(--wpds-dimension-padding-sm)
	);
	--sidebar-create-trailing-offset: calc(
		var(--wpds-dimension-padding-2xl) - var(--wpds-dimension-padding-xs)
	);

	padding: var(--wpds-dimension-padding-xs) var(--sidebar-create-trailing-offset) 0
		var(--sidebar-create-leading-offset);
}

.createButton {
	width: 100%;
	gap: var(--wpds-dimension-gap-sm);
	font-weight: var(--wpds-typography-font-weight-regular);
	color: var(--wpds-color-fg-content-neutral-weak);
}

.createButton:hover,
.createButton:focus-visible {
	color: var(--wpds-color-fg-content-neutral);
}

.createButton span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
