.dialogCheckbox {
	display: flex;
	align-items: center;
	gap: var(--wpds-dimension-padding-sm);
	margin-top: var(--wpds-dimension-padding-sm);
	font-size: var(--wpds-typography-font-size-sm);
	line-height: var(--wpds-typography-line-height-sm);
	color: var(--wpds-color-fg-content-neutral);
	cursor: var(--wpds-cursor-control);
}
