.root {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.canvas {
	pointer-events: auto;
	max-width: 100%;
	max-height: 100%;
}
