.root,
.loading {
	min-height: 100vh;
	background: rgb(232, 234, 235);
}

.canvas,
.loading {
	width: 100vw;
	height: 100vh;
	background: rgb(232, 234, 235);
	overflow: hidden;
}

.canvas :global(.tl-background) {
	background: rgb(232, 234, 235) !important;
}

.canvas :global(.tl-grid) {
	display: none !important;
}

.canvas :global(.tl-watermark_SEE-LICENSE) {
	display: none !important;
}
