/* WordPress component styles are loaded dynamically via WordPressStyles component */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.interpolate-size-allow-keywords {
		interpolate-size: allow-keywords;
	}
}

body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		/* macOS/iOS system UI */ 'Segoe UI',
		Roboto,
		/* Windows + Android system UI */ 'Apple Color Emoji',
		'Segoe UI Emoji',
		'Noto Color Emoji',
		/* emoji */ 'Noto Sans',
		'Arial Unicode MS',
		/* broad Unicode coverage */ sans-serif;
}

.app-drag-region {
	-webkit-app-region: drag;
}

.app-no-drag-region {
	-webkit-app-region: no-drag;
}

h1,
h2,
h3,
h4,
h5,
h6,
caption,
figcaption {
	text-wrap: balance;
}

p,
ul,
ol,
blockquote {
	text-wrap: pretty;
}

/* Tabs */
.components-tab-panel__tab-content {
	flex: 1;
	overflow: hidden;
}

.components-tab-panel__tabs {
	padding: 0 theme( 'spacing.4' );
	border-bottom: 1px solid theme( 'colors.a8c-gray-5' );
}

.components-tab-panel__tabs-item {
	height: 40px;
	margin-bottom: -1px;
}

.components-tab-panel__tabs-item.is-active::after {
	background: theme( 'colors.black' );
}

/* Customize scrollbar area for the sites sidebar and tab panel */
.sites-scrollbar::-webkit-scrollbar,
.components-tab-panel__tab-content::-webkit-scrollbar,
.assistant-textarea::-webkit-scrollbar {
	background: transparent;
	width: 10px;
}

/* Customize srollbar thumb appearance for the sites sidebar and tab panel */
.sites-scrollbar::-webkit-scrollbar-thumb {
	background: #ffffff26;
	border-radius: 10px;
	border: 2px solid rgba( 30, 30, 30, 1 );
}
.components-tab-panel__tab-content::-webkit-scrollbar-thumb,
.assistant-textarea::-webkit-scrollbar-thumb {
	background: #7f7f7f;
	border-radius: 10px;
	border: 2px solid white;
}

/* Add hover effect to thumb appearance on the scrollbar */
.sites-scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgba( 255, 255, 255, 0.5 );
}
.components-tab-panel__tab-content::-webkit-scrollbar-thumb:hover,
.assistant-textarea::-webkit-scrollbar-thumb:hover {
	background: #484848;
}

/* Avoid selecting text on dropdown menu, like preview links */
.components-popover {
	user-select: none;
}

.components-popover__content {
	width: 100%;
}

/* Assistant messages */
.assistant-markdown {
	line-height: 1.4;
	word-wrap: break-word;
}

.assistant-markdown a {
	color: #3858e9;
}

.assistant-markdown a:hover,
.assistant-markdown a:focus {
	color: #2145e6;
	text-decoration: underline;
}

.assistant-markdown blockquote {
	background-color: theme( 'colors.a8c-gray.0' );
	border-radius: 2px;
	margin: 0 0 1rem;
	padding: 0.5rem 1rem;
}

.assistant-markdown blockquote > blockquote {
	background-color: theme( 'colors.a8c-gray.5' );
	margin: 0;
}

.assistant-markdown p {
	margin: 0 0 1rem;
}

.assistant-markdown code {
	background-color: theme( 'colors.a8c-gray.0' );
	color: #1d2327;
	font-family: 'Courier New', Courier, monospace;
	font-size: 13px;
	padding: 0.25rem;
	white-space: pre-wrap;
	border-radius: 2px;
}

.assistant-markdown code.file-block {
	color: theme( 'colors.a8c-blue.50' );
	fill: theme( 'colors.a8c-blue.50' );
	display: inline-flex;
	align-items: center;
	padding: 0 0 0 3px;
	cursor: pointer;
}

.assistant-markdown code.file-block:hover {
	color: theme( 'colors.a8c-blue.70' );
	fill: theme( 'colors.a8c-blue.70' );
}

.assistant-markdown pre {
	background-color: theme( 'colors.a8c-gray.90' );
	border-radius: 5px;
	margin: 0 0 1rem 0;
	overflow-x: auto;
}

.assistant-markdown pre code {
	background-color: transparent;
	color: theme( 'colors.a8c-gray.0' );
	padding: 0;
}

.assistant-markdown h1,
.assistant-markdown h2,
.assistant-markdown h3,
.assistant-markdown h4,
.assistant-markdown h5,
.assistant-markdown h6 {
	margin: 1rem 0 0.5rem 0;
}

.assistant-markdown h1 {
	font-size: 1.2rem;
	font-weight: 500;
}

.assistant-markdown h2 {
	font-size: 1.1rem;
	font-weight: 600;
}

.assistant-markdown h3 {
	font-size: 1rem;
	font-weight: bold;
}

.assistant-markdown h4,
.assistant-markdown h5,
.assistant-markdown h6 {
	font-size: 0.875rem;
	font-weight: bold;
}

.assistant-markdown hr {
	border: none;
	border-top: 1px solid theme( 'colors.a8c-gray.5' );
	margin: 1rem 0;
}

.assistant-markdown ol {
	list-style-type: decimal;
	margin-block-end: 1rem;
	padding-inline-start: 1.5rem;
}

.assistant-markdown ul {
	list-style-type: disc;
	margin-block-end: 1rem;
	padding-inline-start: 1.5rem;
}

.assistant-markdown li {
	margin-bottom: 0.25rem;
}
.assistant-markdown li:last-child {
	margin-bottom: 0;
}

.assistant-markdown pre:last-child,
.assistant-markdown p:last-child,
.assistant-markdown ol:last-child,
.assistant-markdown ul:last-child {
	margin-bottom: 0;
}

.assistant-markdown table {
	border-spacing: 0;
	border-collapse: collapse;
	display: block;
	margin-top: 0;
	margin-bottom: 16px;
	width: max-content;
	max-width: 100%;
	overflow: auto;
}

.assistant-markdown tr {
	background-color: theme( 'colors.a8c-white.DEFAULT' );
	border-top: 1px solid theme( 'colors.a8c-gray.0' );
}

.assistant-markdown tr:nth-child( 2n ) {
	background-color: theme( 'colors.a8c-gray.0' );
}

.assistant-markdown td,
.assistant-markdown th {
	padding: 6px 13px;
	border: 1px solid theme( 'colors.a8c-gray.10' );
}

.assistant-markdown th {
	font-weight: 600;
}

.assistant-markdown table img {
	background-color: transparent;
}

.error-message {
	color: #d63638;
}

.error-select-control .components-input-control__backdrop {
	border-color: theme( 'colors.red.500' ) !important;
}

.whats-new-modal .components-guide__footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
}

.components-button.components-guide__back-button {
	outline: none;
	border: 1px solid theme( 'colors.a8c-blue.50' );
}
