/* Main container styles */
.whats-new-modal .components-guide__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Make the page container take full height */
.whats-new-modal .components-guide__page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Make the footer stick to the bottom */
.whats-new-modal .components-guide__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

.components-button.components-guide__finish-button {
	height: 40px;
}