.dialogText {
	margin: 0;
	font-size: var(--wpds-typography-font-size-sm);
	line-height: var(--wpds-typography-line-height-sm);
	color: var(--wpds-color-foreground-content-neutral-weak);
}

.dialogError {
	margin-top: var(--wpds-dimension-padding-sm);
	font-size: var(--wpds-typography-font-size-sm);
	line-height: var(--wpds-typography-line-height-sm);
	color: var(--wpds-color-foreground-content-error, var(--wpds-color-foreground-content-neutral));
}
