.root {
	height: 100vh;
	position: relative;
	overflow-y: auto;
	isolation: isolate;
}

.content {
	max-width: 640px;
	width: 100%;
	margin-block: auto;
	padding: var(--wpds-dimension-padding-3xl);
}

.contentWide {
	max-width: 960px;
}

.dragEdge {
	position: fixed;
	pointer-events: none;
	-webkit-app-region: drag;
}

.dragEdgeTop {
	top: 0;
	left: 0;
	right: 0;
	height: 36px;
}

.dragEdgeLeft {
	top: 36px;
	left: 0;
	bottom: 0;
	width: 16px;
}

.dragEdgeBottom {
	left: 16px;
	right: 0;
	bottom: 0;
	height: 16px;
}

.close {
	position: fixed;
	top: 16px;
	right: 16px;
	z-index: 7;
}

.close svg {
	width: 32px;
	height: 32px;
}
