@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@wordpress/components/build-style/style.css';

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.app-drag-region {
	-webkit-app-region: drag;
}

.app-no-drag-region {
	-webkit-app-region: no-drag;
}

h1, h2, h3, h4, h5, h6, caption, figcaption {
	text-wrap: balance;
}

p,
ul,
ol,
blockquote {
	text-wrap: pretty;
}

/* Tabs */
.components-tab-panel__tab-content {
	flex: 1;
}
.components-tab-panel__tabs-item {
	height: 40px;
}

/* default cursor by default */
button:enabled {
	cursor: default !important;
}

button:enabled.cursor-pointer {
	cursor: pointer !important;
}