@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@wordpress/components/build-style/style.css';

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.app-drag-region {
	-webkit-app-region: drag;
}

.app-no-drag-region {
	-webkit-app-region: no-drag;
}

h1, h2, h3, h4, h5, h6, caption, figcaption {
	text-wrap: balance;
}

p,
ul,
ol,
blockquote {
	text-wrap: pretty;
}

/* Tabs */
.components-tab-panel__tab-content {
	flex: 1;
}
.components-tab-panel__tabs {
	margin: 0 calc(theme('spacing.8') * -1);
	padding: 0 theme('spacing.4');
	border-bottom: 1px solid theme('colors.a8c-gray.5');
}
.components-tab-panel__tabs-item {
	height: 40px;
	margin-bottom: -1px;
}
.components-tab-panel__tabs-item.is-active::after {
	background: theme('colors.black');
}

/* default cursor by default */
button:enabled {
	cursor: default !important;
}

button:enabled.cursor-pointer {
	cursor: pointer !important;
}

/* Customize scrollbar area for the sites sidebar */
.sites-scrollbar::-webkit-scrollbar {
    background: transparent;
	width: 10px;
}

/* Customize srollbar thumb appearance for the sites sidebar */
.sites-scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff26;
    border-radius: 10px; 
	border: 2px solid rgba(30, 30, 30, 1);
}

/* Add hover effect to thumb appearance on the scrollbar */
.sites-scrollbar::-webkit-scrollbar-thumb:hover {
	background:rgba(255, 255, 255, .5);
}

/* Avoid selecting text on dropdown menu, like preview links */
.components-popover {
	user-select: none;
}