<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Studio</title>
		<% if (REACT_DEV_TOOLS) { %>
		<script src="http://localhost:8097"></script>
		<% } %>
	</head>
	<body class="a8c-body">
		<div id="root" />
	</body>
</html>
