@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@wordpress/components/build-style/style.css';

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.app-drag-region {
	-webkit-app-region: drag;
}

.app-no-drag-region {
	-webkit-app-region: no-drag;
}

h1,
h2,
h3,
h4,
h5,
h6,
caption,
figcaption {
	text-wrap: balance;
}

p,
ul,
ol,
blockquote {
	text-wrap: pretty;
}

/* Tabs */
.components-tab-panel__tab-content {
	flex: 1;
	overflow: auto;
}

.components-tab-panel__tabs {
	padding: 0 theme( 'spacing.4' );
	border-bottom: 1px solid theme( 'colors.a8c-gray.5' );
}

.components-tab-panel__tabs-item {
	height: 40px;
	margin-bottom: -1px;
}

.components-tab-panel__tabs--assistant::before {
	content: url( 'data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2870_30744)"><path d="M13.7035 6.58213L10.8309 5.59124C9.69491 5.20089 8.79911 4.30509 8.40876 3.16908L7.41787 0.296515C7.28275 -0.0988382 6.71725 -0.0988382 6.58213 0.296515L5.59124 3.16908C5.20089 4.30509 4.30509 5.20089 3.16908 5.59124L0.296515 6.58213C-0.0988382 6.71725 -0.0988382 7.28275 0.296515 7.41787L3.16908 8.40876C4.30509 8.79911 5.20089 9.69491 5.59124 10.8309L6.58213 13.7035C6.71725 14.0988 7.28275 14.0988 7.41787 13.7035L8.40876 10.8309C8.79911 9.69491 9.69491 8.79911 10.8309 8.40876L13.7035 7.41787C14.0988 7.28275 14.0988 6.71725 13.7035 6.58213ZM10.3505 7.21269L8.91421 7.70813C8.3437 7.90331 7.8983 8.35371 7.70313 8.91921L7.20768 10.3555C7.13762 10.5557 6.85737 10.5557 6.79231 10.3555L6.29687 8.91921C6.1017 8.3487 5.6513 7.90331 5.08579 7.70813L3.64951 7.21269C3.44933 7.14263 3.44933 6.86238 3.64951 6.79232L5.08579 6.29687C5.6563 6.1017 6.1017 5.6513 6.29687 5.08579L6.79231 3.64951C6.86238 3.44933 7.14263 3.44933 7.20768 3.64951L7.70313 5.08579C7.8983 5.6563 8.3487 6.1017 8.91421 6.29687L10.3505 6.79232C10.5507 6.86238 10.5507 7.14263 10.3505 7.21269Z" fill="black"/></g><defs><clip-path id="clip0_2870_30744"><rect width="14" height="14" fill="white"/></clip-path></defs></svg>' );
	display: inline-block;
	width: 14px;
	height: 14px;
}

.components-tab-panel__tabs-item.is-active::after {
	background: theme( 'colors.black' );
}

/* Customize scrollbar area for the sites sidebar */
.sites-scrollbar::-webkit-scrollbar {
	background: transparent;
	width: 10px;
}

/* Customize srollbar thumb appearance for the sites sidebar */
.sites-scrollbar::-webkit-scrollbar-thumb {
	background: #ffffff26;
	border-radius: 10px;
	border: 2px solid rgba( 30, 30, 30, 1 );
}

/* Add hover effect to thumb appearance on the scrollbar */
.sites-scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgba( 255, 255, 255, 0.5 );
}

/* Avoid selecting text on dropdown menu, like preview links */
.components-popover {
	user-select: none;
}

.components-popover__content {
	width: 100%;
}

.assistant-markdown {
	line-height: 1.6;
	word-wrap: break-word;
}

.assistant-markdown blockquote {
	font-weight: bold;
	margin: 1rem 0;
	padding: 0.5rem 1rem;
}

.assistant-markdown code {
	background-color: #f8f8f2;
	color: #1d2327;
	font-family: 'Courier New', Courier, monospace;
	font-size: 13px;
	padding: 0.25rem;
	white-space: pre-wrap;
}

.assistant-markdown pre {
	background-color: #1d2327;
	border-radius: 5px;
	margin: 1rem 0;
	overflow-x: auto;
	padding: 0.5em;
}

.assistant-markdown pre code {
	background-color: transparent;
	color: #f8f8f2;
	padding: 0;
}

.assistant-markdown h1 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
}

.assistant-markdown h2 {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
}

.assistant-markdown h3 {
	font-size: 1.125rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
}

.assistant-markdown h4 {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
}

.assistant-markdown h5 {
	font-size: 0.875rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
}

.assistant-markdown h6 {
	font-size: 0.85rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
}

.assistant-markdown hr {
	border: none;
	margin: 1rem 0;
}

.assistant-markdown ol {
	list-style-type: decimal;
	margin: 1rem 0;
	padding-left: 1.5rem;
}

.assistant-markdown ul {
	list-style-type: disc;
	margin: 1rem 0;
	padding-left: 1.5rem;
}

.assistant-debug {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: #fff;
	padding: 8px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
